{% extends 'pages/base.twig' %}

{% block content %}

{% if session['api_error'] is defined %}
	{{ message('api_error') }} </section></div>
{% else %}

<div class="card card-info">
	<div class="card-header">
		<h3 class="card-title">Cadastrar novo Usuário</h3>
	</div><!-- /.card-header -->
</div><!-- /.card card-info -->

<!-- form start -->
<form class="form-horizontal" method="POST" action="{{ get_full_url() }}/lms/users/create">
	<div class="card-body">

		<div class="form-group row">
			<label for="username-input-form" class="col-sm-2 col-form-label">Identificação de Usuário</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="username" id="username-input-form" placeholder="Nome de usuário" value="{{ COOKIE_DATA['username'] }}" >
				{{ message("username") }}
			</div>
		</div>

		<div class="form-group row">
			<label for="firstname-input-form" class="col-sm-2 col-form-label">Nome</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" onkeypress="onlyletter(event)" name="firstname" id="firstname-input-form" placeholder="Nome" value="{{ COOKIE_DATA['firstname'] }}">
				{{ message("firstname") }}
			</div>
		</div>

		<div class="form-group row">
			<label for="lastname-input-form" class="col-sm-2 col-form-label">Sobrenome</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" onkeypress="onlyletterspace(event)" name="lastname" id="lastname-input-form" placeholder="Sobrenome" value="{{ COOKIE_DATA['lastname'] }}">
				{{ message("lastname") }}
			</div>
		</div>

		<div class="form-group row">
			<label for="email-input-form" class="col-sm-2 col-form-label">E-mail</label>
			<div class="col-sm-10">
				<input type="email" class="form-control" name="email" id="email-input-form" placeholder="E-mail" value="{{ COOKIE_DATA['email'] }}">
				{{ message("email") }}
			</div>
		</div>
		<div class="form-group row">
			<label for="password-input-form" class="col-sm-2 col-form-label">Senha</label>
			<div class="col-sm-10">
				<input type="password" class="form-control" name="password" id="password-input-form" placeholder="Senha" value="{{ COOKIE_DATA['password'] }}" />

				{{ message("password") }}
			</div>
		</div>
		<div class="form-group row">
			<div class="offset-sm-2 col-sm-10">					
			</div>
		</div>
	</div><!-- /.card-body -->
	<div class="card-footer">
		<button type="submit" class="btn btn-info">Cadastrar</button>
	</div><!-- /.card-footer -->
</form>
</div><!-- /.card -->
<script src="{{ get_full_url() }}/assets/js/formvalidation.js"></script>

{% endif %}

{% endblock %}