{% extends 'pages/base.twig' %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista de cursos</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="search" class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div><!-- /.card-header -->
			<div class="card-body p-0">

				{% for data in COURSES %}
					
					<a class="" data-toggle="collapse" href="#courses-category-{{data.id_category}}" aria-expanded="false" aria-controls="collapseExample">
					{{ data.name_category }}
					</a><br>

					<div class="collapse" id="courses-category-{{data.id_category}}">
						<div class="card card-body">
							{% for course in data.courses %}
								{{ course.fullname }}<br>
							{% endfor %}
						</div>
					</div><bt>
				{% endfor %}

				<pre>
					{{ dump(COURSES) }}
				</pre>

				</div><!-- /.card-body -->
			</div><!-- /.card -->
		</div>
	</div><!-- /.row -->
	{% endblock %}