{% extends 'pages/base.twig' %}

{% block content %}
<div class="card card-info">
	<div class="card-header">
		<h3 class="card-title">Cadastrar novo Usuário</h3>
	</div><!-- /.card-header -->
	<!-- form start -->
	<form class="form-horizontal" method="POST" action="{{get_full_url()}}/course-categories/create">
		<div class="card-body">

			<select class="form-select form-select-lg mb-3 w-50" aria-label=".form-select-lg">
				<option selected>Open this select menu</option>
				<option value="1">One</option>
				<option value="2">Two</option>
				<option value="3">Three</option>
			</select>

			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">					
				</div>
			</div>
		</div><!-- /.card-body -->
		<div class="card-footer">
			<button type="submit" class="btn btn-info">Cadastrar</button>
		</div><!-- /.card-footer -->
	</form>	
</div><!-- /.card -->
{% endblock %}