{% extends 'pages/base.twig' %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h3 class="card-title">Lista de cursos</h3>

				<div class="card-tools">
					<div class="input-group input-group-sm" style="width: 150px;">
						<input type="text" name="search" class="form-control float-right" placeholder="Search">

						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div><!-- /.card-header -->
			<div class="card-body p-0">

				<ul class="list-unstyled">
					{% for item in COURSES %}
					<li class="listitem list-group-item list-group-item-action">
						<strong>Category Name:</strong> {{ item.category_name }}
						<ul>
							{% if item.courses is not empty %}
							<li><strong>Courses:</strong>
								<ul>
									{% for course in item.courses %}
									<li>{{ course.fullname }}</li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% if item.subcategories is not empty %}
							<li><strong>Subcategories:</strong>
								{{ _self.renderSubcategories(item.subcategories) }}
							</li>
							{% endif %}
						</ul>
					</li>
					{% endfor %}
				</ul>

				{% macro renderSubcategories(subcategories) %}
				<ul>
					{% for subcategory in subcategories %}
					<li>
						<strong>Category Name:</strong> {{ subcategory.category_name }}
						<ul>
							{% if subcategory.courses is not empty %}
							<li><strong>Courses:</strong>
								<ul>
									{% for course in subcategory.courses %}
										<li>{{ course.fullname }}</li>
									{% endfor %}
								</ul>
							</li>
							{% endif %}
							{% if subcategory.subcategories is not empty %}
								<li><strong>Subcategories:</strong>
									{{ _self.renderSubcategories(subcategory.subcategories) }}
								</li>
							{% endif %}
						</ul>
					</li>
					{% endfor %}
				</ul>
				{% endmacro %}

			</div><!-- /.card-body -->
		</div><!-- /.card -->
	</div><!-- /.col -->
</div><!-- /.row -->
{% endblock %}