{% extends 'pages/base.twig' %}

{% block content %}
<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				{{ success_message('success') }}
				<h3 class="card-title">Lista de usuários</h3>				
				<div class="card-tools">					
					<div class="input-group input-group-sm" style="width: 150px;">			
						<input type="text" name="table_search" class="form-control float-right" placeholder="Search">						
						<div class="input-group-append">
							<button type="submit" class="btn btn-default">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
				</div>
			</div><!-- /.card-header -->			
			<div class="card-body table-responsive p-0">
				<table id="users-list" class="table table-hover text-nowrap">
					<thead>
						<tr>
							<th>#</th>
							<th>Nome</th>
							<th>E-mail</th>
						</tr>
					</thead>
					<tbody>
						{% for data in USERS %}
						<tr>
							<td>{{ data.id }}</td>
							<td><a href="{{ get_full_url() }}/users/{{data.id}}/profile" class="link-secondary" >{{ data.firstname }} {{ data.lastname }}</a></td>
							<td>{{ data.email }}</td>
							<td>
								<a href="{{ get_full_url() }}/users/{{data.id}}" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i> Editar</a>

								{% if data.is_admin == false %}

								{% if data.suspended == 0 %}
								<a href="{{ get_full_url() }}/users/{{data.id}}/suspend" class="btn btn-warning btn-xs"><i class="fa fa-eye"></i> Suspender</a>
								{% else %}
								<a href="{{ get_full_url() }}/users/{{data.id}}/unsuspend" class="btn btn-warning btn-xs"><i class="fa fa-eye-slash"></i> Ativar conta</a>
								{% endif %}
								
								<!-- Início Modal de exclusão de usuário -->
								<!-- Início link excluir Modal -->
								<a href="#" data-toggle="modal" data-target="#confirm-delete-iduser-{{data.id}}" class="btn btn-danger btn-xs"><i class="fa fa-trash"></i> Excluir</a>
								<!-- Fim link excluir Modal -->
								<!-- Início da janela do Modal -->
								<div class="modal fade" id="confirm-delete-iduser-{{data.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
									<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
										<div class="modal-content">
											<div class="modal-header">
												<h3><b>Exclusão de usuário</b></h3>
											</div>
											<div class="modal-body">
												<p><h6>Deseja realmente excluir o usuário de nome {{data.firstname}} {{data.lastname}} <br>e de e-mail {{data.email}}?</h6></p>
											</div>
											<div class="modal-footer">
												<button type="button" class="btn btn-success" data-dismiss="modal">Cancelar</button>
												<a href="{{ get_full_url() }}/users/{{data.id}}/delete" class="btn btn-danger btn-ok">Deletar</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- Fim da da janela do Modal -->
							<!-- Fim do modal de exclusão de usuário -->
							{% endif %}							
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div><!-- /. card-body table-responsive -->	
	</div><!-- /.card-body -->
</div><!-- /.card -->
</div><!-- /.row -->

<!-- Pagination Links -->
<nav aria-label="Navegação da página">
	<ul class="pagination justify-content-center">
		{% if get['page'] > 1 %}
			<li class="page-item">
				<a class="page-link" href="?page={{ get['page'] -1 }}">
					<span aria-hidden="true">«</span>
					<span class="sr-only">Anterior</span>
				</a>
			</li>
		{% endif %}
		{% if PAGES <= 10  %}
			{% for i in 1..PAGES %}
				<li class="page-item {% if get['page'] == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
			{% endfor %}
		{% elseif get['page'] <= 8 %}
			{% for i in 1..10 %}
				<li class="page-item {% if get['page'] == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>				
			{% endfor %}
			<li class="page-item disabled"><span class="page-link">…</span></li>
			<li class="page-item"><a class="page-link" href="?page={{ PAGES }}">{{ PAGES }}</a></li>
		{% elseif get['page'] >= 9 and get['page'] <= PAGES - 6%}
			<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
			<li class="page-item disabled"><span class="page-link">…</span></li>
			{% for i in get['page'] - 3..get['page'] + 6 %}
				{% if i != PAGES %}
					<li class="page-item {% if get['page'] == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>				
				{% endif %}
			{% endfor %}
			<li class="page-item disabled"><span class="page-link">…</span></li>
			<li class="page-item"><a class="page-link" href="?page={{ PAGES }}">{{ PAGES }}</a></li>
			{% elseif get['page'] <= PAGES + 6 %}
				<li class="page-item"><a class="page-link" href="?page=1">1</a></li>
				<li class="page-item disabled"><span class="page-link">…</span></li>
				{% for i in PAGES - 10..PAGES %}
					<li class="page-item {% if get['page'] == i %}active{% endif %}"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
				{% endfor %}

		{% endif %}
		{% if get['page'] < PAGES %}
			<li class="page-item">
				<a class="page-link" href="?page={{ get['page'] +1 }}">
					<span aria-hidden="true">»</span>
					<span class="sr-only">Próximo</span>
				</a>
			</li>
		{% endif %}
	</ul>
</nav>
<!-- /.Pagination Links -->




{% endblock %}