{% extends 'pages/base.twig' %}

{% block content %}
<div class="card card-info">
	<div class="card-header">
		<h3 class="card-title">Editar Cadastrastro de Usuário</h3>
	</div><!-- /.card-header -->
	<!-- form start -->
	<form class="form-horizontal" method="POST" action="{{ get_full_url() }}/users/update">
		<div class="card-body">
			<div class="form-group row">
				<label for="username-input-form" class="col-sm-2 col-form-label">Identificação de Usuário</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="username" id="username-input-form" placeholder="Nome de usuário" value="{{ USER_DATA['username'] }}" >
					<!--{% if  MSG_ERROR_CREATE['code_error'] == 1 %} value="{{ COOKIE_DATA['deslogin'] }}" {% else %} value="{{data.deslogin}}" {% endif %}-->
					{{ form_message("username") }}
				</div>
			</div>
			<div class="form-group row">
				<label for="firstname-input-form" class="col-sm-2 col-form-label">Nome</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="firstname" id="firstname-input-form" placeholder="Nome" value="{{ USER_DATA['firstname'] }}" >
					{{ form_message("firstname") }}
				</div>
			</div>
			<div class="form-group row">
				<label for="lastname-input-form" class="col-sm-2 col-form-label">Sobrenome</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" name="lastname" id="lastname-input-form" placeholder="Sobrenome" value="{{ USER_DATA['lastname'] }}" >
					{{ form_message("lastname") }}
				</div>
			</div>
			<div class="form-group row">
				<label for="email-input-form" class="col-sm-2 col-form-label">E-mail</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" name="email" id="email-input-form" placeholder="E-mail" value="{{ USER_DATA['email'] }}">
					{{ form_message("email") }}
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">					
				</div>
			</div>
		</div><!-- /.card-body -->
		<div class="card-footer">
			<button type="submit" class="btn btn-info">Cadastrar</button>
			<input type="hidden" name="id" id="id" value="{{ USER_DATA['id'] }}">
		</div><!-- /.card-footer -->
	</form>	
</div><!-- /.card -->
{% endblock %}