{% extends 'pages/base.twig' %}

{% block content %}
<h3 class="card-title">{{ TITLE }}</h3>
<div class="card-tools">
	<div class="input-group input-group-sm" style="width: 150px;">
		<input type="text" name="search" class="form-control float-right" placeholder="Search">

		<div class="input-group-append">
			<button type="submit" class="btn btn-default">
				<i class="fas fa-search"></i>
			</button>
		</div>
	</div>
</div>
</div><!-- /.card-header -->
<div class="card-body p-0">


	<form class="form-horizontal" method="POST" action="{{ get_full_url() }}/admin/users/create">
		<div class="card-body">					

			<div class="form-group row">
				<label for="firstname-input-form" class="col-sm-2 col-form-label">Nome</label>
				<div class="col-sm-10">
					<input type="text" onkeydown="return /^[a-záàâãéèêíïóôõöúçñ ]+$/i.test(event.key)" class="form-control" name="firstname" id="firstname-input-form" placeholder="Nome" value="{{ COOKIE_DATA['firstname'] }}" autofocus>
					{{ form_message("firstname") }}
				</div>
			</div>

			<div class="form-group row">
				<label for="lastname-input-form" class="col-sm-2 col-form-label">Sobrenome</label>
				<div class="col-sm-10">
					<input type="text" onkeydown="return /^[a-záàâãéèêíïóôõöúçñ ]+$/i.test(event.key)" class="form-control" name="lastname" id="lastname-input-form" placeholder="Sobrenome" value="{{ COOKIE_DATA['lastname'] }}">
					{{ form_message("lastname") }}
				</div>
			</div>

			<div class="form-group row">
				<label for="email-input-form" class="col-sm-2 col-form-label">E-mail</label>
				<div class="col-sm-10">
					<input type="email" class="form-control" name="email" id="email-input-form" placeholder="E-mail" value="{{ COOKIE_DATA['email'] }}">
					{{ form_message("email") }}
				</div>
			</div>
			<div class="form-group row">
				<label for="role-input-form" class="col-sm-2 col-form-label">Tipo de perfil</label>
				<div class="col-sm-10">
					<select class="form-select form-control" name="role_id" id="role-input-form">					
							<option value="">Selecione</option>						
							{% for role in ROLES %}
								{% if COOKIE_DATA['role_id'] is not empty and COOKIE_DATA['role_id'] == role['id'] %}
									<option value="{{ role['id'] }}" selected >{{ role['name'] }}</option>
								{%  else %}
									<option value="{{ role['id'] }}">{{ role['name'] }}</option>
								{% endif %}
							{% endfor %}
					</select>
					{{ form_message("role") }}
				</div>
			</div>
			<div class="form-group row">
				<label for="password-input-form" class="col-sm-2 col-form-label">Senha</label>
				<div class="col-sm-10">
					<input type="password" class="form-control" name="password" id="password-input-form" placeholder="Senha"/>
					{{ form_message("password") }}
				</div>
			</div>
			<div class="form-group row">
				<div class="offset-sm-2 col-sm-10">					
				</div>
			</div>
		</div><!-- /.card-body -->
		<div class="card-footer">
			<button type="submit" class="btn btn-info">Cadastrar</button>
		</div><!-- /.card-footer -->
	</form>
</div><!-- /.card-body -->
{% endblock %}