#firstname-input-form {
	text-transform: uppercase;
}

#lastname-input-form {
	text-transform: uppercase;
}

#email-input-form {
	text-transform:lowercase;
}

#username-input-form {
	text-transform:lowercase;
}

.form-control{
	border: solid 1px #c60 !important;
}

input::placeholder {
	text-transform: uppercase;
}

